@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,500&display=swap');
*{
    padding:0;
    margin::0;
    box-sizing:border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color:#588a9c;
}
.container{
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    border:none;
}
.calc{
    padding:20px;
    border-radius:20px;
    background: transparent;
    border:none;
    box-shadow: -1px -1px 10px 10px rgba(220, 243, 255, 0.8)
}

#input{
    width:100%;
    max-width:400px;
    border-radius:20px;
    height:100px;
    border:none;
    background:transparent;
    text-align:center;
    margin:10px;
    font-size:60px;
    overflow: hidden;
    color:#ffffff;
    cursor:pointer;
}


button{
    border:none;
    margin:10px;
    width:80px;
    height:80px;
    border-radius:50%;
    cursor:pointer;
    background:transparent;
    box-shadow:6px 6px 10px rgb(130, 145, 209),-6px -6px 10px rgb(66, 105, 131);

}
.new{
    box-shadow: inset 6px 6px 10px rgba(68, 95, 144, 0.608), inset -6px -6px 10px rgba(68, 103, 137, 0.9);
}
